@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

        var db = new UserContext();
        var usuarios = db.User.ToList();
        ViewBag.Usuarios = usuarios;
        <div>Usuarios ! </div>
        @for( int i = 0; i < ViewBag.Usuarios.Count; i++){
        <span>@ViewBag.Usuarios[i].userID -- @ViewBag.Personas[i].userEMAIL  -- @ViewBag.Personas[i].userNAME  -- @ViewBag.Personas[i].userPASSWORD  -- @ViewBag.Personas[i].userLANGUAGE 
        </span>
}
