@{
    @using MySql.Data.MySqlClient;
}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <style>
        .texto-chico{
            font-size: 10px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="@Href("~/Views/BootStrap/calendar-19/fonts/icomoon/style.css")">
  
    <link href="@Href("~/Views/BootStrap/calendar-19/fullcalendar/packages/core/main.css")" rel='stylesheet' />
    <link href="@Href("~/Views/BootStrap/calendar-19/fullcalendar/packages/daygrid/main.css")" rel='stylesheet' />
    
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Href("~/Views/BootStrap/calendar-19/css/bootstrap.min.css")">
    
    <!-- Style -->
    <link rel="stylesheet" href="@Href("~/Views/BootStrap/calendar-19/css/style.css")">

    <title>Personalizar Calendario</title>
  </head>
  <body>
   <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="botonEnumeracion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Enumeración
  </button>
  <div class="dropdown-menu" aria-labelledby="botonEnumeracion">
    <a class="dropdown-item" href="#">Solar</a>
    <a class="dropdown-item" href="#">Lunar</a>
  </div>
   <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="botonPrimerDia" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" text-align: right>
    Primer día de la semana
  </button>
  <div class="dropdown-menu" aria-labelledby="botonPrimerDia">
    <a class="dropdown-item" href="#">Domingo</a>
    <a class="dropdown-item" href="#">Lunes</a>
  </div>
</div>


  <div>
    <div id='calendar'></div>
  </div>
    
    

    <script src="@Url.Content("~/Views/BootStrap/calendar-19/js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Views/BootStrap/calendar-19/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Views/BootStrap/calendar-19/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Views/BootStrap/calendar-19/fullcalendar/packages/core/main.js")"></script>
    <script src="@Url.Content("~/Views/BootStrap/calendar-19/fullcalendar/packages/interaction/main.js")"></script>
    <script src="@Url.Content("~/Views/BootStrap/calendar-19/fullcalendar/packages/daygrid/main.js")"></script>
    
       @inject IJsonHelper Json;
       

    <script>
        
        var total = @ViewBag.Birthdays.Count;
        var array = @Html.Raw(
        Json.Serialize(
            ((IEnumerable<Birthday>)ViewBag.Birthdays).Select(Birthdays => new 
            { 
                birthdaysID = Birthdays.ID, 
                birthdaysNAME = Birthdays.birthdayNAME, 
                birthdaysBIRTHDATE = Birthdays.birthdayBIRTHDATE,
                birthdaysBIRTHYEAR = Birthdays.birthdayBIRTHYEAR 
            })
        )
    );


      document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid' ],
      defaultDate: '2022-07-12',
      firstDay: 1, // DÍA DE INICIO DE SEMANA
      editable: true,
      dayNames: ['Sol', 'Monday', 'Tuesday', 'Wednesday', 
           'Thursday', 'Friday', 'Saturday'],
      eventLimit: true, // allow "more" link when too many events
      
      events: [
       
        {
          title: 'Cumple del '+array[0].birthdaysNAME+'',
          start: ''+array[0].birthdaysBIRTHDATE+''
        },
        {
          title: 'Cumple del '+array[1].birthdaysNAME+'',
          start: ''+array[1].birthdaysBIRTHDATE+''
        }

      ]
    });

    calendar.render();
  });

    </script>
    
<div class="container">
					<div id="form">
						<div class="card">
							<div class="card-header">
								<h4>Ingresar nuevo cumpleaños:</h4>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off" action="/Insert/InsertBD" method="POST">
                                    <div class="form-group row text-center">
										<label class="col-lg-4 col-form-label form-control-label">Nombre del cumpleañero:</label>
										<div class="col-lg-6 text-center">
											<input class="form-control" type="text" required name="interfazBirthdayNAME">
										</div>
									</div>
									<div class="form-group row text-center">
										<label class="col-lg-4 col-form-label form-control-label">Día del cumpleaños (EJ: 1999-7-22):</label>
										<div class="col-lg-6 text-center">
											<input class="form-control" type="text" name="interfazBirthdayBIRTHDATE">
										</div>
									</div>
									<div class="form-group row text-center">
										<label class="col-lg-4 col-form-label form-control-label">Año de nacimiento del cumpleañero:</label>
										<div class="col-lg-6 text-center">
											<input name="interfazBirthdayBIRTHYEAR" type="text" class="form-control"></input>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-lg-12 text-center">
											<input type="submit" class="btn btn-primary" value="Registrar">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
</div>

    <script src="@Url.Content("~/Views/BootStrap/calendar-19/js/main.js")"></script>
  </body>
</html>